body {
  margin: 0;
  font-family: 'Cinzel', arial, helvetica, sans-serif;
  background: url(../imgs/backgrounds/first_backgrund.jpg) no-repeat;
  background-size: cover;
  color:white;
}

a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

h1 {
  font-size: 50px;
  line-height: 15px;
}

h2 {
  font-size: 40px;
  line-height: 15px;
}

span {
  font-weight: 700;
  font-size: 24px;
}

.img {
  max-width: 550px;
  max-height: 550px;
  border-radius: 50px;
}

.img_per {
  border-radius: 50%;
  max-width: 200px;
}

.recently_projects {
  max-width: 1000px;
  margin: 130px auto 0px auto;
}

.img_conteiner {
  display: flex;
  justify-content:space-around;
  align-items: center;
  max-width: 1000px;
  margin: 50px auto 0px auto;
}

.header_conteiner {
  max-width: 1000px;
  margin: 30px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_me_conyeinar {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 130px auto 0px auto;
}

.about_me_text_box { 
  max-width: 600px;
  margin-left: 50px;
}

.footer_conteiner {
  max-width: 1000px;
  margin: 130px auto 40px auto;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
}

.text_style { 
  font-weight: 600;
  font-size: 22px;
}

.descript_text {
  font-weight: 600;
  font-size: 18px;
}

