body{
  margin: 0;
  font-family: 'Cinzel', arial, helvetica, sans-serif;
  background: url(../../imgs/backgrounds/first_backgrund.jpg) no-repeat;
  background-size: cover;
  color:white;
}

a{
  color: white;
  text-decoration: none;
  margin: 15px;
}

h1{
  font-size: 50px;
  line-height: 15px;
}

h2{
  font-size: 40px;
  line-height: 15px;
}

.header_flex_conteiner{
  max-width: 1000px;
  margin: 30px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_contener{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);  
  padding: 40px;
  max-width: 1000px;
  border-radius: 80px;
  margin: 90px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img{
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
}

.text_style{
  font-weight: 600;
  font-size: 22px;
}

.footer_flex_conteiner{
  max-width: 1000px;
  margin: 100px auto 40px auto;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
}

.text_box{
  max-width: 800px;
  margin-left: 10px;
}
